@charset "utf-8";
/* CSS Document */

/* Reset */
 
html,body{ margin: 0; padding: 0;border: 0; background: transparent; font-size 10px; }

div, span, article, aside, footer, header, hgroup,nav, section, h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li, 
table,tr, th, tbody, tfoot, thread{
	margin: 0;
	padding: 0;
	border: 0;
	verticle-align: baseline;
	backround: transparent;
	}

img	{margin: 0; padding: 0; border: 0;}

table, tr, th, td, tbody, tfoot, thead{
	margin: 0; padding: 0; border: 0;
	verticle-align: baseline;
	backround: transparent;
	}
table { border-collapse: collapse; border-spacing: 0;}

input, select,textarea, form, fieldset {
	margin: 0; padding: 0; border: 0;
}
article, aside, dialogue, figure, footer, header, hgroup, nav, section{
	display:block;}
	
	h1, h2, h3, h4, h5, h6, li, p, blockquote,td, th, a, caption, em, strong, strike{
		font-family:Arial, Helvetica, sans-serif;
		font-size:100%;
		font-weight: normal;
		font-style: normal;
		line-height: 100%;
		text-indent: 0;
		text-decoration:none;
		text-align:left;
		color: #000;
	}
	ol, ul{list-style:none;}
	
/* Global*/
html{ }
body{ margin-top:0px;}


/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: bold; color: #000;}
h1{font-size:24px;}
h2{font-size: 20px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:14px;}
h6{font-size:14px;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img{ margin: 0;}

/* text elements */

p			{color:#000; font-size:12px; line-height: 150%;}
p .left		{margin:1.5em 1.5em 1.5em 0; padding: 0; }
p .right	{margin:1.5em 0 1.5em 1.5em; padding:0;}

a				{ }
a:link			{ color:#00f; }
a:visited		{color:#0f0; }
a:active		{ color:#000; }
a:focus			{color:#666 }
a:hover			{color:#f00 }

blockquote		{ color:#000; font-size:12px; }

strong			{ font-weight: bold; }
em				{font-style:italic;}

/* images */

/* Lists */

ul				{ }
ol				{ list-style-type:decimal;}
ul li			{color:#000; font-size:12px; }
ol li			{color:#000; font-size:12px; }

dl				{ }
dt				{ }
dd				{ }

/* tables */

table			{ width:100%; }

tr				{ }
.odd			{ background-color:#eee;}
.even			{ background-color:#fff;}

th 				{ font-weight: bold;}
thead			{ background:#ccc}

tbody			( }

th,td,caption	{ }
caption 		{ }

tfoot			{ }
.tfooter		{ background-color:#000; text-align: center; font-style: italic;}

caption			{ background:#efefef;}

/* Containers*/

#wrapper		{ }

#top			{ }

#banner			{ }

#subbanner		{ }

#topnav			{ }

#content-wrapper	{ }

#leftnav		{ }

#leftside		{ }

#rightside		{ }

#content		{ }

#footer			{ }

#box1			{ }

#box2			{ }

#box3			{ }

#box4			{ }

#box5			{ }

#box6			{ }

/* Layout extras */


/* Navigation Extra */

/* Forms */

form {text-align:left; margin:20px; }

label, submit input, textares {
	border: 0; padding: 0; margin: 0; background:none;
}
label{
	float:left; width: 150px;
	text-align:right; display:block;
}

input, textares {
	border:1px #333 solid; margin-left:10px;
}

input {
	width:280px; margin-bottom:16px;
	}
textares {
	width:280px; height: 150px;
	margin-bottom: 16px;
}
select { }

.submit {
	width:90px; height:25px;
	margin-left: 150px;
	font-size:12px;
}
br{clear:left;}

/*Miscellaneous */
.copywright-text 	{ font-size:80%; font-style:italic; color: #333;}
.footer-text 		{ font-size: 80%; font-style:normal; color: #666;}

.title				{font-size:18px; font-weight:bold; color:# 333;}
.subtitle			{ font-size:14px; font-style:italic; color:#333;}

.artist				{ font-size:16px; font-weight:bold; color: #333;}
.author				{ font-size:14px; font-weight:bold; color: #555;}
.editor				{ font-size:14px; font-style:italic; color: #555;}

.pub-date			{ font-size:10px; font-style:italic; color:#555; }
.article-date		{ font-size:10px; font-style:italic; color:#555; }
.location			{ font-size:10px; font-style:italic; color:#555; }

.float-right		{ float:right;}
.float-left			{float:left;}
.clear				{clear:both;}

.hide				{ display:none;}
.block				{display:block;}
.inline				{display:inline;}

.first				{font-weight:bold;}
.last				{font-weight:bold;}
.left				{font-weight:bold; text-align:left;}
.right				{font-weight:bold; text-align:right;}

.added				{background:#D7D7FF; }
.removed			{background:#FFCECE; color:#F00; }
.changed			{background:#FFB; }

/* Sucess, info notice and error/alert boxes- from Blueprint CSS Framework */

.error,alert, .notice, .success, .info{
	padding:0.8em; margin-bottom:1em; border:2px solid #ddd; }
	
.error, alert		{background: #FBE3E4; color:#8A1F11; border-color: #fbc2c4; }

.notice				{background: #FFF6BF; color:#541721; border-color: #FFD324; }

.success			{background: #E6EFC2; color:#264409; border-color: #C6D880; }

.info				{background: #D5EDF8; color:#205791; border-color: #92CAE4; }

.error				{color:#8a1f11}
.alert				{color:#8a1f11}

.notice a			{color:#514721}
.success a			{color:#264409}
.info a				{color:#205791} 
	                      